@font-face {
  font-family: 'BloggerSans-Medium';
  src: url('../fonts/BloggerSans-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/BloggerSans-Medium.otf')  format('opentype'),
	    url('../fonts/BloggerSans-Medium.woff') format('woff'), url('../fonts/BloggerSans-Medium.ttf')  format('truetype'), url('../fonts/BloggerSans-Medium.svg#BloggerSans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BloggerSans-Italic';
  src: url('../fonts1/BloggerSans-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts1/BloggerSans-Italic.otf')  format('opentype'),
	     url('../fonts1/BloggerSans-Italic.woff') format('woff'), url('../fonts1/BloggerSans-Italic.ttf')  format('truetype'), url('../fonts1/BloggerSans-Italic.svg#BloggerSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BloggerSans-Bold';
  src: url('../fonts2/BloggerSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts2/BloggerSans-Bold.otf')  format('opentype'),
	     url('../fonts2/BloggerSans-Bold.woff') format('woff'), url('../fonts2/BloggerSans-Bold.ttf')  format('truetype'), url('../fonts2/BloggerSans-Bold.svg#BloggerSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BloggerSans-MediumItalic';
  src: url('../fonts3/BloggerSans-MediumItalic.eot?#iefix') format('embedded-opentype'),  url('../fonts3/BloggerSans-MediumItalic.otf')  format('opentype'),
	     url('../fonts3/BloggerSans-MediumItalic.woff') format('woff'), url('../fonts3/BloggerSans-MediumItalic.ttf')  format('truetype'), url('../fonts3/BloggerSans-MediumItalic.svg#BloggerSans-MediumItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BloggerSans';
  src: url('../fonts4/BloggerSans.eot?#iefix') format('embedded-opentype'),  url('../fonts4/BloggerSans.otf')  format('opentype'),
	     url('../fonts4/BloggerSans.woff') format('woff'), url('../fonts4/BloggerSans.ttf')  format('truetype'), url('../fonts4/BloggerSans.svg#BloggerSans') format('svg');
  font-weight: normal;
  font-style: normal;
}



#container {
	max-width: 950px;
	margin: 0 auto;
	max-height: 100%;
}
header{
	background: url(../img/main.jpg) no-repeat center top;
	max-width: 100%;

}
.logo{
	padding: 10px 0px 50px 0px;
}
.number{
	display: flex;
	list-style-type: none;
	font-family:'BloggerSans-Medium';
	margin:17px 0px 0px 468px; 
}
.number li{
	margin-left: 20px;
	color: white;
	text-align: right;

}
.text__center{
	text-align: center;
	color:white;
	font-size: 32px;
	font-family: 'BloggerSans-Italic';
	
}
.text__center p{
	margin: 0px;
	padding-top: 7px;
	padding-right: 40px;
}
#second{
	margin-bottom: 30px;
}
.video__text{
	font-family: 'BloggerSans-Italic';
	font-size: 27px;
}
.video__text p{
	margin-bottom: 5px;
	margin-top: 10px;
}
.video__play{
	position:relative;
}
.video__button{
position: absolute;
top:52px;
left: 255px;
text-align: center;
display:block;
background: url(../img/button__play.png) no-repeat center center;
}
.video__button i{
	border: 1px solid white;
}
.slider{
	width: 617px;
	border: 3px solid #ffd200;
	position: relative;
	background: url(../img/button__play.png) no-repeat center center;
}
.bx-prev{
	display:block;
	width: 25px;
	height: 34px;
	background: #ffd200 url(../img/prev.png) no-repeat center center;
	position: absolute;
	left: -2.6%;
	top: 79%;
	text-indent: -9999px;
}
.bx-next{
	display:block;
	width: 25px;
	height: 34px;
	background: #ffd200 url(../img/next.png) no-repeat center center;
	position: absolute;
	left: 98.6%;
	top: 79%;
	text-indent: -9999px;
}
.objectText{
	padding-top: 10px;
}
.objectText button{
	width: 617px;
	height: 60px;
	padding: 0px 163px 0px 163px;
	background: #ffd200;
	 border:none; 
	  border-radius: 5px;
	  font-family: 'BloggerSans-Bold';
	  font-size: 35px;
	cursor: pointer;
	position: relative;
}
.objectText button p{
	box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.6);
	line-height: 35px;
	margin-bottom: 1px;
}
.calculate{
	box-shadow: 0px 0px 0px 4px rgba(20,137,217,1);
 	text-align: center;
}
.calculate p{
	
}
.calculate__text{
	font-family: 'BloggerSans-Bold';
	font-size: 30px;
	text-align: center;
	color: #1489d9;
	margin-top: 23px;
	line-height: 30px;
	padding-top: 24px;
	padding-bottom: 10px;

}
.calculate__field input{
	border: 2px solid #1489d9;
	border-radius: 20px;
	padding: 0px 53px;
	font-family: 'BloggerSans-MediumItalic';
	color: #a2bdcf;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a2bdcf;
  font-size: 12px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a2bdcf;
  font-size: 20px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a2bdcf;
  font-size: 20px;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a2bdcf;
  font-size: 10px;
}
.calculate__field-two{
	margin-top: 13px;
}
.calculate__button button p{
	box-shadow: 0px 1px 0px 0px #ffffff; 
}
.calculate__button button{
	font-family: 'BloggerSans-Bold';
	margin-top: 13px;
	border: none;
	background: #1489d9;
	border-radius: 20px;
	padding: 5px 30px;
	font-size: 20px;
}
.calculate__button p {
	font-family: 'BloggerSans-Bold';
	margin-bottom: 5px;
	color:white;
	line-height: 23px;
}
.calculate__price button{
	border: 1px solid #1489d9;
	background: #0c649f;
	border-radius: 20px;
	margin-top: 15px;
	margin-bottom: 25px;
	padding: 5px 62px;
	font-size: 20px;
}
.calculate__price button p{
	box-shadow: 0px 1px 0px 0px #ffffff; 
	line-height: 23px;
}
.calculate__price p{
	font-family: 'BloggerSans-Bold';
	margin-bottom: 5px;
	color:white;
}
#three{

}
.carousel{
	/*display: flex;*/
	text-align: center;
}
.carousel__click{
	padding-top: 40px;
}
.carousel__click-next{
	padding-left: 43px;
}
.carousel__box{
	text-align: center;
}
.carousel__box p{
	font-family: 'BloggerSans-Bold';
	margin-top: 10px;
}
.carousel__main{
	display: flex;
}
.freeButton{
	text-align: center;
}
.freeButton button p{
	box-shadow: 0px 1px 0px 0px #ffffff; 
}
.freeButton button{
	border: 1px solid #1489d9;
	background: #1489d9;
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 25px;
	padding: 15px 95px;
	font-size: 30px;
}
.freeButton button p{
	box-shadow: 0px 1px 0px 0px #ffffff; 
	line-height: 27px;
}
.freeButton p{
	font-family: 'BloggerSans-Bold';
	margin-bottom: 5px;
	color:white;
	cursor: pointer;
}
.sale{
	text-align: center;
	font-size: 20px;
	font-family: 'BloggerSans-Bold';
	border: 4px solid #ffd200;
	font-size: 25px; 
	width: 400px;
	height: 62px;
	margin-bottom: 40px;
}
.sale img{
	text-align: left;
	z-index: 9999;
	position: absolute;
	left:18px;
	top: -10px;
}
.sale p {
	margin: 5px 5px 12px 40px;
}
.sale__discount{
	margin-left: 43px;
}
.sale__competition{
	font-size: 20px;
	margin-left: 23px;
}
.sale__competition p{
	line-height: 19px;
	margin: 5px 5px 12px 120px;
}
.speech{
	text-align: center;
	margin-bottom: 40px;
	
}
.speech h5{
	font-size: 20px;
}
.speech h2, h5{
	font-family: 'BloggerSans';
	font-size: 35px;
}
.carousel__prev, .carousel__next{
	padding-top: 83px;
}
.team{
	font-family: 'BloggerSans-Bold';
	text-align: center;
}
.team__foto{
	border: 4px solid #1489d9;
	width: 230px;
	height: 207px;
	text-align: center;
	
}
.team__foto img{
	position: relative;
	top: -30px;
}
.team__foto-move img{
	position: relative;
	right: 11px;
}
.team__text{
font-size: 20px;
text-align: center;
overflow:hidden;
}
.team__text p{
	color: #1489d9;
}
p span {
	color: #404b55;
}
.carousel__next{
	padding-left: 43px;
}
.freeButton-two button {
	padding: 15px 245px;
	font-size: 24px;
}
#fife{
	background: url(../img/fone.jpg) no-repeat center top;
	margin-bottom: 50px;
}
.report__main{
	margin-left: 20px;
	margin: 25px 0px;
	
}
.report{
	margin-bottom: 10px;
}
.report p{
	margin: 5px 0px 0px 0px;
	color: white;
	font-family: 'BloggerSans';
	margin-left: 15px;
	font-size: 20px;
}
.work{
	border: 5px solid #f9cf1d;
	margin-bottom: 25px;
}
.prevButton{
	position: absolute;
  top: 42%;
  right: 96%;
}
.nextButton{
	position: absolute;
  top: 42%;
  right: 1%;
}

.work__slider{
	padding: 15px 25px;
	text-align: center;
}
.work__slider img{
	max-width: 100%;
}
.chooseUs p {
	color: #1489d9;
	font-family: 'BloggerSans';
	font-size: 30px;
	text-align: center;
	margin-bottom: 20px;
}
.ourWork{
	margin-bottom: 10px;
}
.ourWork p{
	padding-left: 13px;
	margin: 0px;
	font-family: 'BloggerSans-Bold';
	font-size: 30px;
	
}
.ourWork__list p:nth-last-child(odd) {
    background: #faeced;
    padding: 10px;
}
.ourWork__list p:nth-last-child(even){
	background: white;
	padding: 0px 10px;
}
.ourWork__list-two{
	line-height: 20px;
	z-index: 999;
}
.ourWork__list p{
	line-height: 20px;
}
.ourWork__list p{
	color: #404b55;
	font-family: 'BloggerSans';
	/*font-size: 17px;*/
	margin: 5px;
	
}

.ourWork__list-two p:nth-last-child(odd){
	background: white;
}
.ourWork__list-two p:nth-last-child(even){
	background: #eff4e5;
	padding: 10px;
}
.ourWork__list-two p{
	margin: 0px;
	line-height: 18px;

	font-family: 'BloggerSans-Bold';
}
.ourWork__list-two {

}
.pink b{
	font-family: 'BloggerSans-Bold';
}
.freeButton-three button{
	padding: 15px 124px;
}
#six{
	background: url(../img/picture.jpg); /*no-repeat center top*/
	margin-bottom: 34px;
	/*padding-bottom: 20px;*/
}
.offer p{
	text-align: center;
	font-size: 30px;
	font-family: 'BloggerSans';
	color: white;
	margin: 10px;
}
.offer__title{
	height: 80px;
	width: 300px;
	background: #c3d5e2;
	border-radius: 50px;
	border: 2px solid white;
	font-size: 20px;
	font-family: 'BloggerSans';
	margin: 20px 0px 20px;
	color: black;
}
.offer__title p{
	text-align: center;
	margin: 12px 0px 12px 93px;
	line-height: 24px;
}
.offer__title img{
	position: absolute;
	left:8px;
	top: 8px;
}
.offer__title-man img{
	position: absolute;
	left:26px;
	top: 0px;
}
#picture{
	position: relative;
}
.man{
	position: absolute;
	bottom: -104px;
	left: -30px;
}
.manCool img{
	position: absolute;
	right: -60px;
	bottom: -104px;
	z-index: 1;
}
/*Opera*/
/*@media all and (min-width:0px) {
.man { 
    position: absolute;
	bottom: -1884px;
	left: -10px; 
}

.manCool{
	position: absolute;
	right: -40px;
	bottom: -1884px;
	
}
}*/
/*@media all and (-webkit-min-device-pixel-ratio:10000),not all and (-webkit-min-device-pixel-ratio:0) {
.man { 
    position: absolute;
	bottom: -1884px;
	left: -10px; 
}

.manCool img{
	position: absolute;
	right: -40px;
	bottom: -10px;
	z-index: 1;
}
}*/
/*Chrome Ð¸ Safari*/
/*@media screen and (-webkit-min-device-pixel-ratio:0) {
  .man{
	position: absolute;
	bottom: -1820px;
	left: -30px;
}
.manCool img{
	position: absolute;
	right: -30px;
	bottom: -1820px;
	z-index: 1;
}
  
}*/

/*@-moz-document url-prefix() {
   .man{
	position: absolute;
	bottom: -1821px;
	left: -30px;
}
.manCool img{
	position: absolute;
	right: -50px;
	bottom: -1821px;
	z-index: 1;
}
  
}*/
.map{
	height: 350px;
	width: 900px;
	border: 4px solid #1489d9;
	margin-left: -44px;
}
.map__text{
	font-size: 15px;
	font-family: 'BloggerSans-Bold';
	color:black;
	padding: 44px 20px;
	margin-left: 15px;
}
.map__button button{
	background: #ffd200;
	border: none;
	border-radius: 5px;
	padding: 10px 29px;
	cursor: pointer;

}
.map__button button p{
	margin: 0px;
	color: black;
	font-size: 16px;
	padding: 0px;
	line-height: 27px;
	box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.5);
    line-height: 15px;
    }

.map-responsive{
	position: absolute;
	left: -52px;
	top: 13px;
}
.map-responsive img{
	position: absolute;
width: 100%;
height: 100%;
top: 0;
}
#footer{
	background: url(../img/footer.jpg);
	margin-top: 60px;
}
.footer{
	padding: 30px;
}
.footer p{
	color: white;
	font-family: 'BloggerSans-Bold';
	font-size: 17px;
	margin: 0px;
}
.footer__img img{
	text-align: center;
	padding: 20px;
}


/*iPad Pro*/
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
	.man{
		display: none;
	}
	.manCool{
		display: none;
	}
	
}
/*iPad*/
@media only screen
and (min-device-width: 480px)
and (max-device-width: 768px) {
	.man{
		display: none;
	}
	.manCool{
		display: none;
	}
	.map__text{
		padding: 10px 70px;
    	margin-left: 15px;
	}
	.map-responsive iframe{
		width: 530px;
		height: 323px;
	}
	.map-responsive{
		position: absolute;
	    left: -30px;
	    top: 13px;
	}
	/*.freeButton button{
	padding: 0px;
	font-size: 24px;
}*/
.freeButton-one button{
	padding: 14px 25px;
}
.freeButton-two button{
	padding: 0px;
	font-size: 24px;
	padding: 13px 225px;
}
.offer__title{
		text-align: center;
		max-width: 100%;
		max-height: 100%;
		width: 312px;
		margin-right: 53px;
		margin-left: 53px; 
	}
	.offer__title img {
    position: absolute;
    left: 53px;
    top: 8px;
}
.freeButton-three button{
	padding: 10px 64px;
}
.ourWork img{
	margin-left: 42px;
}
.ourWork__list {
	margin-left: 42px;
}
.report__main{
	margin: 25px 53px;
}

.team__foto{
	margin-left: 265px;
}

.team__text p{
	margin-bottom: 35px;
}
.carousel__prev{
	text-align: center;
	padding-top: 0px;
}
.carousel__prev img{
	padding-left: 0px;
	margin-bottom: 58px;
}
.carousel__next{
	text-align: center;
	padding-top: 0px;
	margin-bottom: 25px;
	padding-left: 33px;
}
.sale{
	margin-left: 195px;
}
.sale img{
position: absolute;
    left: 146px;
    top: -10px;
}
.carousel__click-prev{
	text-align: center;
	padding-top: 0px;
}
.carousel__click-prev img{
	padding-left: 0px;
	margin-bottom: 58px;
}
.carousel__click-next{
	text-align: center;
	padding-top: 0px;
	margin-bottom: 25px;
	padding-left: 33px;
}
.calculate{
	text-align: center;
	width: 500px;
	height: 355px;
	margin-left: 138px;
}
.calculate__button button{
	padding: 11px 50px;
	font-size: 28px;
}
.calculate__text{
	font-size: 36px;
}
.calculate__field input{
	padding: 9px 111px;
}
.calculate__price button{
	font-size: 26px;
	padding: 9px 106px;
}
.slider{
	margin-left: 80px;
}
.video__text p{
	margin-left: 70px;
}
.objectText button{
	margin-left: 80px;
}
.logo{
	padding: 14px 0px 50px 33px;
}
.number{
	margin: -85px 0px 0px 397px;
}

}
/*Smartphones*/
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
.man{
		display: none;
	}
	.manCool{
		display: none;
	}
.number li{
	margin:0px;
	display: block;
	font-size: 15px;
	position: relative;
	top:-20px;
}
.logo{
	margin: -10px 0px -10px 0px;
	position: absolute;
	
}
.text__center p{
	font-size: 25px;
	position: relative;
	bottom: -35px;
}
.footer{
	text-align: center;
}
.footer__img{
	text-align: center;
}
.map__text{
		padding: 10px 70px;
    	margin-left: 15px;
	}
	.map-responsive iframe{
		
	    width: 380px;
		height: 323px;
	    position:absolute;
	    
	}
	.map-responsive{
		left:16px;
	    top:33px;
		overflow:hidden;
	    padding-bottom:81.25%;
	    position:relative;
	    height:0;

	}
	.map{
		margin-bottom: 240px; 
		width: 340px;
	}
	.map__text{
		text-align: center;
	}
	.offer__title{
		text-align: center;
		max-width: 100%;
		max-height: 100%;
		width: 330px;
		margin-right: 53px;
		margin-left: 67px; 
	}
	.offer__title img {
    position: absolute;
    left: 53px;
    top: 8px;
}
.freeButton button{
	padding: 3px 10px;
	/*font-size: 15px;*/
}
.ourWork img{
	margin-left: 35px;
}
.ourWork__list {
	margin-left: 9px;
}
.report__main{
	margin: 0px;
}
.report img{
	width: 37px;
	height: 45px;
}
#fife{
	margin-bottom: 20px;

	padding-top: 5px;
}
.team__foto{
	margin-left: 78px;
}
.team__text p{
	margin-bottom: 35px;
}
.carousel__prev{
	text-align: center;
	padding-top: 0px;
}
.carousel__prev img{
	padding-left: 0px;
	margin-bottom: 55px;
}
.carousel__next{
	text-align: center;
	padding-top: 0px;
	margin-bottom: 20px;
	padding-right: 50px;
}
.sale{
	margin-left: 70px;
	font-size: 20px;
	width: 270px;
	height: 67px;
}
.sale img{
position: absolute;
    left: 38px;
    top: -10px;
}
.sale__discount p{
	margin: 14px 0px 0px 0px;
}
.sale__competition p{
	margin: 0px 0px 0px 84px;
}
.carousel__click-prev{
	text-align: center;
	padding-top: 0px;
}
.carousel__click-prev img{
	padding-left: 0px;
	margin-bottom: 40px;
	margin-top: 10px;
}
.carousel__click-next{
	text-align: center;
	padding-top: 10px;
	margin-bottom: 20px;
	padding-left: 0px;
}
.calculate{
	text-align: center;
	width: 312px;
	margin-left: 18px;
}
.calculate__button button{
	padding: 5px 19px;
	font-size: 20px;
}

.calculate__text{
	font-size: 36px;
}
.calculate__field input{
	padding: 3px 42px;
}
.calculate__price button{
	font-size: 20px;
	padding: 3px 55px;
}
.slider{
	margin-left: 14px;
	width: 333px;
	height: 100%;
}
.bx-next, .bx-prev{
	top:61%;
	
}
.bx-next{
	left:94.6%;
}
.video__button {
	width: 50px;
	height: 50px;

	position: absolute;
top:29px;
left: 146px;
}
.video__text p{
	margin-left: 10px;
}
.video__play img{
	max-width: 100%;
	max-height: 100%;
}
.objectText button p{
	font-size: 25px;
}
.objectText button{
	margin-left: 10px;
	width: 330px;
	height: 44px;
	padding: 0px 20px;
}
.objectText button p{
	line-height: 28px;
}
.logo{
	padding: 14px 0px 50px 33px;
}
.number{
	margin: 36px 2px 18px 185px;
	display: inline-block;
}
.header{
	height: 100px;
}
.text__center p{
	font-size: 22px;bottom: 39px;
}

.work{
	padding: 0px;
	text-align: center;
	width: 370px;
	margin-left: 15px;

}
.prevButton{
	position: absolute;
	top: 30%;
	right: 88%;
}
.nextButton {
    position: absolute;
    top: 31%;
    right: 7%;
}
.ourWork {
	font-size: 26px;
}
.speech h5{
	width: 369px;
}

}